.choose {
  width: auto;
  max-height: 577px;
  background-color: $dark-grey;
  border-radius: 10px;
  color: $cream;
  display: flex;
  flex-direction: column;

  &__title {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    padding-top: 112px;
    margin-bottom: 32px;
    align-self: center;
  }

  &__text {
    max-width: 540px;
    max-height: 80px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 86px;
    mix-blend-mode: normal;
    opacity: 0.8;
    align-self: center;
  }

  &__wraper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  &__box {
    background-color: $cyan;
    width: 350px;
    height: auto;
    border-radius: 8px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }
  }
  &__image {
    margin-top: 72px;
    margin-bottom: 56px;
  }

  .images {
    margin-top: 83px;
    margin-bottom: 67px;
  }

  &__heading {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__lorem {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
    width: 255px;
    height: 78px;
  }
}

@media only screen and (max-width: 768px) {
  .choose {
    &__wraper {
      flex-direction: column;
    }

    &__title {
      padding-top: 70px;
      padding-bottom: 24px;
      text-align: center;
    }

    &__title {
      width: 540px;
      height: 77px;
    }

    &__box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      width: 573px;
      height: 180px;
      padding: 41px 70px 41px 48px;
      margin-bottom: 24px;
    }

    &__image {
      margin: 0;
    }

    &__heading {
      margin-bottom: 16px;
    }

    &__lorem {
      margin: 0;
      width: 344px;
      height: 50px;
    }
  }
}

@media only screen and (max-width: 340px) {
  .choose {
    flex-direction: column;
    &__title {
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 28px;
      line-height: 28px;
      width: 255px;
    }

    &__text {
      width: 279px;
      height: 125px;
    }

    &__box {
      flex-direction: column;
      width: 279px;
      height: 382px;
      padding: 0;
      margin-bottom: 24px;
      justify-content: center;

      &:first-child {
        margin-top: 64px;
      }
    }

    &__image {
      margin-top: 72px;
      margin-bottom: 56px;
    }

    &__lorem {
      width: 212px;
      height: 75px;
      margin-bottom: 51px;
    }

    .images {
      margin-top: 83px;
      margin-bottom: 67px;
    }
  }
}
